<h1> new artist </h1>
<%= form_for @artists do |f| %>
    <%= f.label :name, "input name" %>
    <%= f.text_field :name %>
    <%= f.label :age %>
    <%= f.number_field :age %>
    <%= f.label :title, "input title" %>
    <%= f.text_field :title %>
    <%= f.submit %>
<% end %>
    